In [6]:
import os
os.chdir("..")
os.getcwd()

'c:\\Users\\ADEGOKE\\Desktop\\Hybrid-Video-Recommender-System'

## Load the 1M Dataset

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline 
warnings.filterwarnings("ignore")

df_ratings = pd.read_csv("data/raw/ratings.dat", sep="::", engine="python",
                      names=["user_id", "movie_id", "rating", "timestamp"])

df_movies = pd.read_csv("data/raw/movies.dat", sep="::", engine="python",
                     names=["movie_id", "title", "genres"], encoding="latin-1")

In [12]:
df_ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [13]:
df_movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

### Check for missing values

In [17]:
df_ratings.isnull().sum()

user_id      0
movie_id     0
rating       0
timestamp    0
dtype: int64

In [18]:
df_ratings.shape

(1000209, 4)

In [19]:
df_movies.isnull().sum()

movie_id    0
title       0
genres      0
dtype: int64

In [20]:
df_movies.shape

(3883, 3)

### Check for unique values

In [21]:
ratings["user_id"].nunique(), ratings["movie_id"].nunique()

(6040, 3706)

In [26]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  3883 non-null   int64
 1   title     3883 non-null   object
 2   genres    3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [27]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   user_id    1000209 non-null  int64
 1   movie_id   1000209 non-null  int64
 2   rating     1000209 non-null  int64
 3   timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB

In [32]:
df_ratings["rating"].value_counts(normalize=True)

rating
4    0.348898
3    0.261142
5    0.226263
2    0.107535
1    0.056162
Name: proportion, dtype: float64

In [38]:
n_users = df_ratings.user_id.nunique()
n_items = df_ratings.movie_id.nunique()
density = len(df_ratings) / (n_users * n_items)

if density < 0.01:
    msg = "Excellent sparsity for ALS"
elif density < 0.05:
    msg = "Good sparsity for ALS MovieLens 1M range"
elif density < 0.10:
    msg = "Moderate sparsity - consider memory optimization"
else:
    msg = "High density - consider alternative algorithms"

print(msg)
density

Good sparsity for ALS MovieLens 1M range

0.044683625622312845